:root {
  --main-text-color: #131313;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

.center {
  padding-left: calc(50vw - 125px);
  padding-right: calc(50vw - 125px);
}

img {
  display: block;
  max-width: 100%;
}

.button {
  text-decoration: none;
  width: 120px;
  height: 40px;
  background-color: var(--main-text-color);
  color: #FFFFFF;
  line-height: 1.5;
  border-radius: 3px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover, .button:focus, .button:active {
  background-color: #FFFFFF;
  color: var(--main-text-color);
  text-decoration: underline;
}

.button:active {
  border: 1px solid var(--main-text-color);
}

ul li a:hover, ul li a:focus {
  text-decoration: underline;
}
ul li a:active {
  opacity: 0.7;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding-left: calc(50vw - 140px);
  padding-right: calc(50vw - 140px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
.header .logo {
  display: block;
}
.header__toggler {
  width: 24px;
  height: 15px;
  display: block;
  position: relative;
  z-index: 3;
}
.header__toggler span {
  width: 100%;
  height: 1px;
  background: var(--main-text-color);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
}
.header__toggler span:nth-child(2) {
  width: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__toggler span:nth-child(3) {
  top: 100%;
}
.header__nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 40px;
}
.header__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.header__nav-list a {
  color: var(--main-text-color);
  font-weight: 400;
  text-decoration: none;
}
#nav-toggler:checked ~ .header__nav {
  display: flex;
}
#nav-toggler:checked ~ .header__toggler span {
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) rotate(225deg);
}
#nav-toggler:checked ~ .header__toggler span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-225deg);
}

.footer {
  margin-top: 200px;
  padding-top: 40px;
  padding-bottom: 77px;
  background-color: #EAF5F9;
}
.footer__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.footer__nav a {
  color: var(--main-text-color);
  font-weight: 400;
  text-decoration: none;
}
.footer__rights {
  margin: 0;
  padding-top: 35px;
  color: #CBDFE6;
  text-align: center;
}
.footer .logo {
  display: block;
  padding-top: 15px;
}
.footer .logo img {
  margin: 0px auto;
}

@media screen and (min-width: 510px) {
  .center {
    padding-left: calc(50vw - 180px);
    padding-right: calc(50vw - 180px);
  }
  .header .logo {
    display: none;
  }
  .header__toggler {
    display: none;
  }
  .header__nav {
    padding-left: calc(50vw - 200px);
    padding-right: calc(50vw - 200px);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 0;
  }
  .header__nav .logo {
    order: 1;
    display: block;
    margin-right: auto;
  }
  .header__nav .logo img {
    width: 125px;
    height: 20px;
  }
  .header__nav .button {
    order: 3;
  }
  .header__nav-list {
    order: 2;
    flex-direction: row;
    gap: 15px;
    padding-right: 15px;
  }
  .header__nav-list li:nth-child(n+3) {
    display: none;
  }
}
@media screen and (min-width: 753px) {
  .center {
    padding-left: calc(50vw - 320px);
    padding-right: calc(50vw - 320px);
  }
  .header__nav {
    padding-left: calc(50vw - 300px);
    padding-right: calc(50vw - 300px);
  }
  .header__nav-list {
    font-size: 16px;
    gap: 20px;
    padding-right: 20px;
  }
  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer__nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    order: 3;
  }
  .footer__rights {
    order: 2;
    padding: 0;
  }
  .footer .logo {
    order: 1;
    padding: 0;
  }
}
@media screen and (min-width: 900px) {
  .center {
    padding-left: calc(50vw - 420px);
    padding-right: calc(50vw - 420px);
  }
  .header__nav {
    padding-left: calc(50vw - 390px);
    padding-right: calc(50vw - 390px);
  }
  .header__nav .logo img {
    width: 157px;
    height: 25px;
  }
  .header__nav-list {
    gap: 30px;
    padding-right: 30px;
  }
  .footer {
    padding-top: 55px;
    padding-bottom: 55px;
    flex-wrap: nowrap;
    gap: 0;
  }
  .footer__nav {
    gap: 30px;
  }
  .footer__rights {
    margin-right: auto;
  }
  .footer .logo {
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .center {
    padding-left: calc(50vw - 475px);
    padding-right: calc(50vw - 475px);
  }
  .header__nav {
    padding-left: calc(50vw - 450px);
    padding-right: calc(50vw - 450px);
  }
  .footer {
    padding-left: calc(50vw - 430px);
    padding-right: calc(50vw - 430px);
  }
}
@media screen and (min-width: 1368px) {
  .center {
    padding-left: calc(50vw - 570px);
    padding-right: calc(50vw - 570px);
  }
  .header__nav {
    padding-left: calc(50vw - 550px);
    padding-right: calc(50vw - 550px);
  }
  .footer {
    padding-left: calc(50vw - 440px);
    padding-right: calc(50vw - 440px);
  }
}
@media screen and (min-width: 1700px) {
  .center {
    padding-left: calc(50vw - 675px);
    padding-right: calc(50vw - 675px);
  }
  .header__nav {
    padding-left: calc(50vw - 645px);
    padding-right: calc(50vw - 645px);
  }
  .footer {
    padding-left: calc(50vw - 450px);
    padding-right: calc(50vw - 450px);
  }
}
@media screen and (min-width: 1920px) {
  .center {
    padding-left: calc(50vw - 760px);
    padding-right: calc(50vw - 760px);
  }
  .header__nav {
    padding-left: calc(50vw - 730px);
    padding-right: calc(50vw - 730px);
  }
  .footer {
    padding-left: calc(50vw - 510px);
    padding-right: calc(50vw - 510px);
  }
}/*# sourceMappingURL=style.css.map */