.footer {
    margin-top: 200px; //Я додав цей маржин, щоб було видно, що блоки хедер і футер відокремленні
    padding-top: 40px;
    padding-bottom: 77px;
    background-color: #EAF5F9;
    &__nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        a {
            color: var(--main-text-color);
            font-weight: 400;
            text-decoration: none;
          }
    }
    &__rights {
        margin: 0;
        padding-top: 35px;
        color: #CBDFE6;
        text-align: center;
    }
    .logo {
        display: block;
        padding-top: 15px;
        img {
            margin: 0px auto;
        }
    }
}




     